/* General */
body {
  @apply bg-gray-50 text-gray-700 antialiased;
}
svg {
  @apply inline-block cursor-pointer select-none;
}
input {
  @apply bg-transparent;
}
footer {
  @apply bottom-0;
}

.h1 {
  @apply text-3xl font-bold sm:text-4xl;
}
.h2 {
  @apply text-2xl font-bold sm:text-3xl;
}
.h3 {
  @apply text-xl font-bold sm:text-2xl;
}
.h4 {
  @apply text-lg font-bold sm:text-xl;
}
.h5 {
  @apply font-bold sm:text-lg;
}

.h6 {
  @apply text-base font-medium;
}

.main-container {
  @apply mt-24 mb-6;
}
.main-container > * {
  @apply px-6 sm:px-12 lg:px-20;
}

.screen-center {
  @apply flex h-screen w-screen flex-col items-center justify-center;
}

.backdrop {
  @apply fixed inset-0 flex items-center justify-center;
  z-index: -1;
}

.paper {
  @apply relative rounded-md bg-white shadow-md;
}

.flex-container {
  @apply -mt-2 -ml-2;
}

.flex-item {
  @apply pt-2 pl-2 pr-1;
}
/*  */

/* app bar */
.app-bar {
  @apply fixed top-0 z-50 flex h-16 w-full items-center justify-between
  bg-white px-6 py-2 shadow-sm sm:px-12  lg:px-20;
}

.app-bar .app-bar-brand {
  @apply relative md:mr-5 md:flex-none;
  height: 45px;
  width: 45px;
}
.app-bar-brand > svg {
  @apply w-full;
}
.app-bar .btn-menu {
  @apply block md:hidden;
}
.app-bar-menu {
  @apply flex-none md:grow;
}
.app-bar-menu > * {
  @apply cursor-pointer transition duration-300 hover:text-primary;
}
.app-bar-menu,
.app-bar-btn {
  @apply hidden space-x-4 sm:items-center md:flex;
}
/*  */

/* button */
.btn {
  @apply flex select-none items-center justify-center space-x-1 overflow-hidden rounded-md px-3
  py-2 shadow-none outline-none;
}

.btn-sm > .text {
  @apply text-xs font-medium;
}
.btn-md > .text {
  @apply text-sm font-medium;
}
.btn-lg > .text {
  @apply text-base font-bold;
}

.btn-primary {
  @apply border-2 border-transparent bg-primary text-white transition hover:bg-red-700 focus:ring focus:ring-red-400 disabled:bg-gray-400;
}
.btn-primary-outlined {
  @apply border-2 border-primary text-primary transition hover:bg-rose-200 disabled:border-gray-400 disabled:bg-transparent;
}
.btn-secondary {
  @apply border-2 border-transparent bg-violet-600 text-white transition hover:bg-violet-700 focus:ring focus:ring-violet-400 disabled:bg-gray-400;
}
.btn-secondary-outlined {
  @apply border-2 border-violet-600 text-violet-600 transition 
  hover:bg-violet-200 disabled:border-gray-400 disabled:bg-transparent disabled:text-gray-400;
}
.btn-warning {
  @apply border-2 border-transparent bg-yellow-400 text-white transition hover:bg-yellow-500 focus:ring focus:ring-red-400 disabled:bg-gray-400;
}
.btn-warning-outlined {
  @apply border-2 border-yellow-400 text-yellow-600 transition 
  hover:bg-yellow-200 disabled:border-gray-400 disabled:bg-transparent disabled:text-gray-400;
}
.btn-danger {
  @apply border-2 border-transparent bg-red-600 text-white transition hover:bg-red-500 disabled:bg-gray-400;
}
.btn-danger-outlined {
  @apply border-2 border-red-600 text-red-600 transition hover:bg-red-200 disabled:border-gray-400 disabled:bg-transparent disabled:text-gray-400;
}

.cta {
  @apply inline-block border-2 border-transparent bg-amber-400 text-lg font-bold text-gray-900 ring transition hover:bg-amber-500 focus:ring-amber-200;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(5);
  }
}
/*  */

/* Drawer */
.drawer {
  @apply fixed inset-0 z-40 md:hidden;
}
.drawer .drawer-paper {
  @apply fixed top-0 right-0 flex h-full w-full max-w-xs flex-col space-y-3 overflow-y-auto bg-white;
}
.drawer .backdrop {
  @apply fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-50;
  z-index: -1;
}
.drawer-enter .backdrop {
  @apply opacity-0;
}
.drawer-enter .drawer-paper {
  flex: 1 0 auto;
  transform: translateX(100%);
}
.drawer-enter-active .backdrop {
  @apply opacity-100 transition duration-100;
}
.drawer-enter-active .drawer-paper {
  @apply translate-x-0 transition duration-300;
}
.drawer-exit .backdrop {
  @apply opacity-100;
}
.drawer-exit .drawer-paper {
  @apply translate-x-0;
}

.drawer-exit-active .backdrop {
  @apply opacity-0 transition duration-300;
}
.drawer-exit-active .drawer-paper {
  @apply translate-x-full transition duration-300;
}

/* Responsiveness next image*/
.img-container {
  width: 100%;
  height: 100%;
}

.img-container > span {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

.img {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
}

/* Form */
.form {
  @apply mx-auto my-0 w-full max-w-md md:w-full;
}

.form-group {
  @apply relative;
}
.form-control-root {
  @apply relative flex items-center justify-between;
}

.form-label {
  @apply pointer-events-none absolute top-2 left-2 bottom-0 m-0 w-full cursor-text select-none
  text-base opacity-80 transition-all	duration-200;
}

.form-control-input {
  @apply bottom-0 h-full w-full rounded-md border-2 border-stone-300 bg-white p-2 text-sm outline-none transition-all duration-300 
  ease-out hover:bg-gray-100 focus:border-red-300 disabled:bg-gray-100 disabled:text-gray-500;
}

textarea.form-control-input {
  resize: none;
}

.checkbox-label {
  @apply relative;
}
.checkbox-label input[type='radio'] {
  @apply absolute top-2/4 left-2/4 h-8 w-full -translate-x-2/4 -translate-y-2/4 cursor-pointer border-none opacity-0;
}

.checkbox-label input[type='radio'] + .icon {
  @apply mx-3 transition-all duration-200;
}

input[class='male']:checked + .icon,
input[class='male']:focus + .icon {
  @apply fill-blue;
}

input[class='female']:checked + .icon,
input[class='female']:focus + .icon {
  @apply fill-pink;
}
input[type='file'] ~ label {
  @apply inline-flex cursor-pointer rounded-md border border-primary bg-red-200 p-2 text-primary;
}

.input-search {
  @apply flex w-full max-w-md items-center overflow-hidden rounded-md border 
  border-gray-500 bg-gray-100 text-base;
}
.input-search input {
  @apply p-2 outline-none;
}
.input-search svg {
  @apply ml-2;
}

/* Avatar */
.avatar {
  @apply relative flex items-center justify-center rounded-full border border-primary bg-violet-600 text-lg font-bold text-white;
}

/* skeleton */
.skeleton span {
  @apply bg-gray-200;
}
/* skeleton animation */
.skeleton-wave {
  @apply relative overflow-hidden;
}

.skeleton-wave::after {
  content: '';
  @apply absolute top-0 left-0 right-0 bottom-0 -translate-x-full;
  animation: wave 1s linear 0.5s infinite;
  background: linear-gradient(90deg, transparent, rgba(250, 250, 250, 0.239), transparent);
}

@keyframes wave {
  to {
    transform: translateX(100%);
  }
}

/* divider */
.divider {
  @apply h-0.5 bg-red-200;
}

/* modal */
.modal {
  @apply fixed top-0 left-0 bottom-0 right-0;
  z-index: 9999;
}
.modal > .backdrop {
  @apply bg-gray-500 bg-opacity-50;
}
.modal-enter .backdrop {
  @apply opacity-0;
}
.modal-enter .paper {
  @apply scale-90 opacity-0;
}
.modal-enter-active .backdrop {
  @apply opacity-100 transition duration-300;
}
.modal-enter-active .paper {
  @apply translate-y-0 scale-100 opacity-100 transition duration-300;
}
.modal-exit .paper,
.modal-exit .backdrop {
  @apply opacity-100;
}
.modal-exit-active .paper {
  @apply scale-90 opacity-0 transition duration-300;
}
.modal-exit-active .backdrop {
  @apply opacity-0 transition;
}

/* Tabs */
.tabs {
  @apply relative flex h-full border-gray-300 lg:flex-col;
}

.tabs .tab {
  @apply w-1/2 py-3 px-4 transition duration-300 lg:w-full;
}
.tabs .tab:nth-child(1).tab-active ~ .slider {
  @apply translate-x-0 scale-x-50 lg:scale-y-50;
}
.tabs .tab:nth-child(2).tab-active ~ .slider {
  @apply translate-x-1/2 scale-x-50 lg:translate-y-1/2 lg:translate-x-0 lg:scale-y-50;
}
.tab.tab-active {
  @apply font-bold text-primary transition duration-300;
}
.tabs .slider {
  @apply absolute bottom-0 left-0 right-full top-full h-1 w-full origin-left bg-primary transition
  duration-200 lg:left-full lg:bottom-full lg:top-0 lg:right-0 lg:h-full lg:w-1 lg:origin-top;
}

/* Table */
table {
  @apply mx-auto w-full table-auto;
}
table thead {
  @apply bg-primary;
}
table tr,
table th,
table td {
  @apply p-2 leading-4;
}
th {
  @apply border border-primary text-white;
}
td {
  @apply border border-gray-300 text-center;
}
td.table-name {
  @apply w-48 text-left font-bold lg:w-64;
}
td.table-img {
  @apply h-20 w-20 lg:h-28 lg:w-28;
}
td.table-price {
  @apply w-24 lg:w-52;
}

/* Table skeleton */
tr.skeleton span {
  @apply mx-auto block rounded-md;
}
tr.skeleton span.left {
  @apply mx-0;
}

/* Auth layout */
section.auth {
  @apply flex h-screen w-screen items-center justify-center lg:justify-between;
}
section.auth .auth-img {
  @apply relative hidden w-full lg:block;
}
section.auth .form-container {
  @apply flex flex-col items-center justify-center space-y-3 rounded-md bg-white px-10 py-5 shadow-md
  lg:h-screen lg:w-full lg:rounded-none lg:rounded-tl-3xl lg:rounded-bl-3xl;
}
