/* General */
body {
  @apply text-gray-700 bg-gray-50 antialiased;
}
svg {
  @apply inline-block cursor-pointer select-none;
}
input {
  @apply bg-transparent;
}
footer {
  @apply bottom-0;
}

.h1 {
  @apply text-3xl sm:text-4xl font-bold;
}
.h2 {
  @apply text-2xl sm:text-3xl font-bold;
}
.h3 {
  @apply text-xl sm:text-2xl font-bold;
}
.h4 {
  @apply text-lg sm:text-xl font-bold;
}
.h5 {
  @apply sm:text-lg font-bold;
}

.h6 {
  @apply text-base font-medium;
}

.main-container {
  @apply mt-24 mb-6;
}
.main-container > * {
  @apply px-6 sm:px-12 lg:px-20;
}

.screen-center {
  @apply h-screen w-screen flex flex-col justify-center items-center;
}

.backdrop {
  @apply inset-0 fixed flex items-center justify-center;
  z-index: -1;
}

.paper {
  @apply relative rounded-md shadow-md bg-white;
}

.flex-container {
  @apply -mt-2 -ml-2;
}

.flex-item {
  @apply pt-2 pl-2 pr-1;
}
/*  */

/* app bar */
.app-bar {
  @apply fixed top-0 flex justify-between items-center w-full h-16 bg-white
  px-6 sm:px-12 lg:px-20 py-2 shadow-sm  z-50;
}

.app-bar .app-bar-brand {
  @apply relative md:flex-none md:mr-5;
  height: 45px;
  width: 45px;
}
.app-bar-brand > svg {
  @apply w-full;
}
.app-bar .btn-menu {
  @apply block md:hidden;
}
.app-bar-menu {
  @apply flex-none md:grow;
}
.app-bar-menu > * {
  @apply transition duration-300 hover:text-primary cursor-pointer;
}
.app-bar-menu,
.app-bar-btn {
  @apply hidden md:flex sm:items-center space-x-4;
}
/*  */

/* button */
.btn {
  @apply flex items-center justify-center space-x-1 overflow-hidden rounded-md px-3 py-2
  shadow-none select-none outline-none;
}

.btn-sm > .text {
  @apply font-medium text-xs;
}
.btn-md > .text {
  @apply font-medium text-sm;
}
.btn-lg > .text {
  @apply font-bold text-base;
}

.btn-primary {
  @apply text-white border-2 bg-primary disabled:bg-gray-400 hover:bg-red-700 border-transparent transition;
}
.btn-primary-outlined {
  @apply text-primary disabled:bg-transparent hover:bg-rose-200 border-2 border-primary disabled:border-gray-400 transition;
}
.btn-secondary {
  @apply text-white bg-violet-600 hover:bg-violet-700 disabled:bg-gray-400 border-2 border-transparent transition;
}
.btn-secondary-outlined {
  @apply text-violet-600 disabled:text-gray-400 border-2 border-violet-600 
  disabled:border-gray-400 disabled:bg-transparent hover:bg-violet-200 transition;
}
.btn-warning {
  @apply text-white bg-yellow-400 disabled:bg-gray-400 border-2 border-transparent hover:bg-yellow-500 transition;
}
.btn-warning-outlined {
  @apply text-yellow-600 disabled:text-gray-400 border-2 border-yellow-400 
  disabled:border-gray-400 disabled:bg-transparent hover:bg-yellow-200 transition;
}
.btn-danger {
  @apply text-white bg-red-600 disabled:bg-gray-400 hover:bg-red-500 border-2 border-transparent transition;
}
.btn-danger-outlined {
  @apply text-red-600 disabled:text-gray-400 border-2 border-red-600 disabled:border-gray-400 disabled:bg-transparent hover:bg-red-200 transition;
}

.cta {
  @apply text-lg font-bold text-gray-900 bg-amber-400 hover:bg-amber-500 border-2 border-transparent inline-block transition;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(5);
  }
}
/*  */

/* Drawer */
.drawer {
  @apply fixed md:hidden inset-0 z-40;
}
.drawer .drawer-paper {
  @apply fixed top-0 right-0 overflow-y-auto w-full max-w-xs h-full bg-white flex flex-col space-y-3;
}
.drawer .backdrop {
  @apply inset-0 fixed flex items-center justify-center bg-gray-500 bg-opacity-50;
  z-index: -1;
}
.drawer-enter .backdrop {
  @apply opacity-0;
}
.drawer-enter .drawer-paper {
  flex: 1 0 auto;
  transform: translateX(100%);
}
.drawer-enter-active .backdrop {
  @apply transition duration-100 opacity-100;
}
.drawer-enter-active .drawer-paper {
  @apply transition duration-300 translate-x-0;
}
.drawer-exit .backdrop {
  @apply opacity-100;
}
.drawer-exit .drawer-paper {
  @apply translate-x-0;
}

.drawer-exit-active .backdrop {
  @apply transition duration-300 opacity-0;
}
.drawer-exit-active .drawer-paper {
  @apply transition duration-300 translate-x-full;
}

/* Responsiveness next image*/
.img-container {
  width: 100%;
  height: 100%;
}

.img-container > span {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

.img {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
}

/* Form */
.form {
  @apply w-full max-w-md mx-auto my-0 md:w-full;
}

.form-group {
  @apply relative;
}
.form-control-root {
  @apply relative flex items-center justify-between;
}

.form-label {
  @apply absolute top-2 left-2 bottom-0 w-full m-0 text-base pointer-events-none opacity-80
  transition-all duration-200 select-none	cursor-text;
}

.form-control-input {
  @apply bottom-0 w-full h-full border-2 border-stone-300 focus:border-red-300 rounded-md p-2 bg-white hover:bg-gray-100 disabled:bg-gray-100 outline-none 
  transition-all duration-300 ease-out text-sm disabled:text-gray-500;
}

textarea.form-control-input {
  resize: none;
}

.checkbox-label {
  @apply relative;
}
.checkbox-label input[type='radio'] {
  @apply absolute opacity-0 top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 border-none h-8 w-full cursor-pointer;
}

.checkbox-label input[type='radio'] + .icon {
  @apply mx-3 transition-all duration-200;
}

input[class='male']:checked + .icon,
input[class='male']:focus + .icon {
  @apply fill-blue;
}

input[class='female']:checked + .icon,
input[class='female']:focus + .icon {
  @apply fill-pink;
}
input[type='file'] ~ label {
  @apply inline-flex p-2 text-primary bg-red-200 border border-primary rounded-md cursor-pointer;
}

.input-search {
  @apply flex items-center border border-gray-500 text-base rounded-md bg-gray-100 
  w-full max-w-md overflow-hidden;
}
.input-search input {
  @apply outline-none p-2;
}
.input-search svg {
  @apply ml-2;
}

/* Avatar */
.avatar {
  @apply relative flex items-center justify-center border border-primary rounded-full text-white text-lg font-bold bg-violet-600;
}

/* skeleton */
.skeleton span {
  @apply bg-gray-200;
}
/* skeleton animation */
.skeleton-wave {
  @apply overflow-hidden relative;
}

.skeleton-wave::after {
  content: '';
  @apply top-0 left-0 right-0 bottom-0 absolute -translate-x-full;
  animation: wave 1s linear 0.5s infinite;
  background: linear-gradient(90deg, transparent, rgba(250, 250, 250, 0.239), transparent);
}

@keyframes wave {
  to {
    transform: translateX(100%);
  }
}

/* divider */
.divider {
  @apply bg-red-200 h-0.5;
}

/* modal */
.modal {
  @apply fixed top-0 left-0 bottom-0 right-0;
  z-index: 9999;
}
.modal > .backdrop {
  @apply bg-gray-500 bg-opacity-50;
}
.modal-enter .backdrop {
  @apply opacity-0;
}
.modal-enter .paper {
  @apply opacity-0 scale-90;
}
.modal-enter-active .backdrop {
  @apply transition duration-300 opacity-100;
}
.modal-enter-active .paper {
  @apply transition duration-300 opacity-100 scale-100 translate-y-0;
}
.modal-exit .paper,
.modal-exit .backdrop {
  @apply opacity-100;
}
.modal-exit-active .paper {
  @apply transition duration-300 opacity-0 scale-90;
}
.modal-exit-active .backdrop {
  @apply transition opacity-0;
}

/* Tabs */
.tabs {
  @apply relative flex h-full border-gray-300 lg:flex-col;
}

.tabs .tab {
  @apply w-1/2 py-3 px-4 transition duration-300 lg:w-full;
}
.tabs .tab:nth-child(1).tab-active ~ .slider {
  @apply translate-x-0 scale-x-50 lg:scale-y-50;
}
.tabs .tab:nth-child(2).tab-active ~ .slider {
  @apply translate-x-1/2 scale-x-50 lg:translate-y-1/2 lg:translate-x-0 lg:scale-y-50;
}
.tab.tab-active {
  @apply transition duration-300 font-bold text-primary;
}
.tabs .slider {
  @apply absolute bottom-0 left-0 right-full top-full lg:left-full lg:bottom-full lg:top-0 lg:right-0 w-full
  h-1 lg:h-full lg:w-1 bg-primary transition duration-200 origin-left lg:origin-top;
}

/* Table */
table {
  @apply w-full mx-auto table-auto;
}
table thead {
  @apply bg-primary;
}
table tr,
table th,
table td {
  @apply p-2 leading-4;
}
th {
  @apply text-white border border-primary;
}
td {
  @apply text-center border border-gray-300;
}
td.table-name {
  @apply text-left font-bold w-48 lg:w-64;
}
td.table-img {
  @apply w-20 h-20 lg:w-28 lg:h-28;
}
td.table-price {
  @apply w-24 lg:w-52;
}

/* Table skeleton */
tr.skeleton span {
  @apply mx-auto block rounded-md;
}
tr.skeleton span.left {
  @apply mx-0;
}

/* Auth layout */
section.auth {
  @apply h-screen w-screen flex items-center justify-center lg:justify-between;
}
section.auth .auth-img {
  @apply w-full relative hidden lg:block;
}
section.auth .form-container {
  @apply flex flex-col justify-center bg-white rounded-md shadow-md px-10 py-5
  lg:rounded-none lg:rounded-tl-3xl lg:rounded-bl-3xl lg:w-full lg:h-screen;
}
