.hero {
  @apply relative -mt-8 mb-5 flex w-full items-center justify-center md:h-80 md:min-h-0;
}

@screen sm {
  .hero {
    @apply h-96;
  }
}
@screen lg {
  .hero {
    height: 34rem;
  }
}

.hero::before {
  content: '';
  @apply absolute top-0 left-0 h-full w-full 
  bg-gradient-to-b from-gray-50 to-red-100;
  z-index: -1;
}

.hero .hero-bg {
  @apply absolute top-0 left-0 block h-full w-full lg:w-5/6;
  z-index: -1;
}

.hero .hero-img {
  @apply right-10 hidden sm:w-1/2 md:block md:w-2/6;
}

.hero .description {
  @apply w-full md:w-3/5 lg:w-1/2;
}
.hero .description h1 {
  @apply pt-10 text-3xl font-bold uppercase lg:text-4xl;
}
.hero .description p {
  @apply text-lg lg:text-xl;
}

section#benefits {
  @apply mx-auto mt-5 flex w-full flex-col items-center lg:w-4/5;
}

.section-title {
  @apply mb-5 text-center text-2xl font-bold md:text-3xl lg:text-4xl;
}

#benefit-one,
#benefit-two,
#benefit-three {
  @apply relative mb-5 flex min-h-full w-full max-w-md flex-col items-center justify-center rounded-md
  shadow-md md:h-72 md:w-full md:max-w-none md:flex-row md:flex-wrap md:justify-between md:shadow-none lg:justify-evenly;
}

.benefit-img {
  @apply relative md:max-w-sm md:flex-2/5;
}

.benefit-desc {
  @apply mt-4 flex flex-3/5 flex-col items-center justify-center p-3 text-center md:mt-0 md:h-full md:w-full;
}

.benefit-desc h2 {
  @apply mb-5 text-lg font-bold md:text-2xl lg:text-3xl;
}

section#benefits #benefit-two .benefit-img {
  @apply order-first md:order-last;
}

section#features {
  @apply mb-5 flex flex-wrap items-center justify-around md:items-start;
}

#feature-one,
#feature-two,
#feature-three {
  @apply relative mb-5 flex h-full max-w-xs flex-col 
  flex-wrap items-center rounded-md text-center
  transition duration-500 ease-in-out hover:bg-gray-700 hover:text-white;
}

.feature-img {
  @apply relative h-60 w-full sm:h-52 lg:h-52 lg:w-52;
}

.feature-desc {
  @apply mt-3 p-4;
}

/* footer */
footer {
  @apply bg-red-200;
}

footer .media-social {
  @apply mb-4 flex bg-red-300 px-12 py-3;
}

footer .media-social .icons {
  @apply mr-3 h-8 w-8 cursor-pointer text-red-500 hover:text-primary;
}
footer .information {
  @apply flex w-full flex-col flex-wrap bg-red-200 px-12 py-3 md:flex-row md:items-start md:text-left;
}

footer .information .more {
  @apply mb-5 md:mr-10;
}

footer > * {
  @apply mb-5 md:mb-0;
}
.copyright {
  @apply mb-0 px-12 py-3 text-xs;
}
