.product-container {
  @apply grid grid-cols-2 gap-3 md:grid-cols-3 lg:grid-cols-5;
}

/* skeleton */
.card {
  @apply w-full rounded-md border text-center;
}

.card.skeleton {
  @apply flex flex-col items-center;
}
.card.skeleton > .card-image {
  @apply mb-2 h-56 w-full rounded-md bg-gray-300;
}

.card.skeleton > .card-content {
  @apply my-2 block w-11/12 rounded-md bg-gray-300;
}

.product {
  @apply flex w-full flex-col flex-wrap space-y-4 md:flex-row md:space-y-0 md:space-x-4;
}

.product .product-img {
  @apply relative h-60 md:h-auto md:w-2/5 lg:w-2/6;
}

.product .product-info {
  @apply flex flex-col justify-between space-y-6 md:space-y-10;
  flex: 50%;
}

.product > .product-info .name {
  @apply text-4xl font-bold text-primary;
}

.product > .product-info .desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.product > .product-info .price {
  @apply w-max rounded-md bg-red-100 px-2 font-medium text-primary md:text-lg;
}

.product > .product-info .total {
  @apply text-lg font-bold md:text-2xl;
}

/* Topping input checkbox */
.topping-list {
  @apply grid grid-cols-2 gap-2 sm:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6;
}

.topping-list .input-checkbox {
  @apply text-center;
}

.topping-list .input-checkbox > .topping-name {
  @apply truncate text-center text-sm font-medium;
}
.topping-list .input-checkbox > .topping-price {
  @apply text-sm text-primary;
}

.topping-list .input-checkbox > input ~ .input-label {
  @apply flex justify-center;
}

.input-checkbox {
  @apply relative;
}
.input-checkbox input {
  @apply absolute h-0 w-0 opacity-0;
}
.input-checkbox input ~ .input-label {
  @apply cursor-pointer;
}
.input-checkbox input:focus ~ .input-label {
  @apply ring ring-red-400;
}
.input-checkbox input ~ .input-label > .topping-img {
  @apply w-20;
}
.input-checkbox input ~ .input-label img {
  @apply transition duration-200;
}
.input-checkbox input ~ .input-label::before {
  content: ' ';
  @apply absolute top-2 right-7 flex h-5 w-5 scale-0 items-center justify-center rounded-full leading-7 transition duration-300;
  z-index: 2;
}
.input-checkbox input:checked ~ .input-label::before {
  content: '✓';
  @apply scale-100 bg-green-500 text-white;
}
.input-checkbox input:checked ~ .input-label img {
  @apply z-0 scale-90;
}
/*  */

/* topping checkbox skeleton */

.input-checkbox.skeleton {
  @apply flex flex-col items-center justify-center;
}
.input-checkbox.skeleton > .topping-img {
  @apply mb-2 h-20 w-20 rounded-full bg-gray-300;
}

.input-checkbox.skeleton > .topping-name {
  @apply w-11/12 rounded-sm bg-gray-300;
}

.input-checkbox.skeleton > span {
  @apply block h-5 px-2;
}

.skeleton span::before {
  content: '\00a0';
  @apply h-0;
}

input[type='file'] ~ .label {
  @apply inline-block cursor-pointer rounded-md bg-violet-600 p-2 text-gray-50;
}

input[type='file'] ~ .label > span {
  @apply ml-4 text-gray-50;
}
